<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Epics.VirtualAccelerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NBug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <Epics.VirtualAccelerator.Properties.Settings>
      <setting name="ChannelAccessProvider" serializeAs="String">
        <value>ChannelAccess.EPICS</value>
      </setting>
      <setting name="ChartsUpdateInterval" serializeAs="String">
        <value>250</value>
      </setting>
    </Epics.VirtualAccelerator.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="NBug.Properties.Settings.Cipher" connectionString="hFW/2Rn1pY5OS97yOw00CogiWirk8NL2OLRdV5YVZUY=" />
    <add name="NBug.Properties.Settings.Destination1" connectionString="vMTr6xFBmlMxqx+p5DbF5MqvxZnAEIVnF1NUCzMSKfPnwHvP0xN74OXE2XUYllqlTfNHP2VaN3uZoZBJ2H2+ud27087B6h97XdY7XCxml+5VeBFGfuUG0mXA2Vld5WhRt7gG9WKGlkSj51NeUzW91Q==" />
  </connectionStrings>
  <applicationSettings>
    <NBug.Properties.Settings>
      <setting name="UIMode" serializeAs="String">
        <value>Auto</value>
      </setting>
      <setting name="UIProvider" serializeAs="String">
        <value>Auto</value>
      </setting>
      <setting name="SleepBeforeSend" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MaxQueuedReports" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="StopReportingAfter" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="MiniDumpType" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="WriteLogToDisk" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ExitApplicationImmediately" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="HandleProcessCorruptedStateExceptions" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="ReleaseMode" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="DeferredReporting" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="StoragePath" serializeAs="String">
        <value>WindowsTemp</value>
      </setting>
    </NBug.Properties.Settings>
  </applicationSettings>
</configuration>